<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartShop Ecommerce Site</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">SmartShop</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin">Sign In</a>
            </div>
        </header>

        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html">SmartPhones</a>
                </li>
                <li>
                    <a href="index.html">Laptops</a>
                </li>
            </ul>
        </aside>

        <main class="main">
            <div class="content">
            <ul class="products">
                <li>
                    <div class="product">
                        <img class="product-image" src="images/iphone11.jpg" alt="Iphone11">
                        <div class="product-name">
                            <a href="product.html">iPhone 11 (64 GB)</a>
                            </div>
                        <div class="product-brand">Apple</div>
                        <div class="product-price">₹79,500</div>
                        <div class="product-ratings">4.5 Stars (10 Reviews)</div>
                    </div>
                </li>

                <li>
                    <div class="product">
                        <img class="product-image" src="images/oneplus.jpg" alt="Iphone11">
                        <div class="product-name">
                            <a href="product.html">OnePlus 8 Pro (256 GB)</a>
                            </div>
                        <div class="product-brand">OnePlus</div>
                        <div class="product-price">₹54,500</div>
                        <div class="product-ratings">4.1 Stars (11 Reviews)</div>
                    </div>
                </li>

                <li>
                    <div class="product">
                        <img class="product-image" src="images/realme.jpg" alt="Iphone11">
                        <div class="product-name">
                            <a href="product.html">Realme 7 (32 GB)</a>
                            </div>
                        <div class="product-brand">Realme</div>
                        <div class="product-price">₹48,000</div>
                        <div class="product-ratings">4.4 Stars (14 Reviews)</div>
                    </div>
                </li>

                <li>
                    <div class="product">
                        <img class="product-image" src="images/samsung.jpg" alt="Iphone11">
                        <div class="product-name">
                            <a href="product.html">Note 20 Ultra (512 GB)</a>
                            </div>
                        <div class="product-brand">Samsung</div>
                        <div class="product-price">₹1,02,500</div>
                        <div class="product-ratings">4.8 Stars (6 Reviews)</div>
                    </div>
                </li>

                <li>
                    <div class="product">
                        <img class="product-image" src="images/xiaomi.jpg" alt="Iphone11">
                        <div class="product-name">
                            <a href="product.html">Mi 10 Ultra (128 GB)</a>
                            </div>
                        <div class="product-brand">Xiaomi</div>
                        <div class="product-price">₹49,500</div>
                        <div class="product-ratings">4.6 Stars (10 Reviews)</div>
                    </div>
                </li>

                <li>
                    <div class="product">
                        <img class="product-image" src="images/xperia.jpg" alt="Iphone11">
                        <div class="product-name">
                            <a href="product.html">Xperia XA (64 GB)</a>
                            </div>
                        <div class="product-brand">Sony</div>
                        <div class="product-price">₹22,700</div>
                        <div class="product-ratings">3.9 Stars (22 Reviews)</div>
                    </div>
                </li>
            </ul>
        </div>
        </main>
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>
    <script>
        function openMenu()
        {
            document.querySelector(".sidebar").classList.add("open")
        }
        function closeMenu()
        {
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>
</html>